{{log model}}

  <p>
    <button {{action "toggleForm"}}>Create New Contact</button>
  </p>
{{#if showForm}}
<form {{action "addPerson" on="submit"}}>
  <p>
    First Name {{input type="text" value=first }}
  </p>
  <p>
    Last Name {{input type="text" value=last }}
  </p>
  <p>
    Address {{input type="text" value=address }}
  </p>
  <p>
    Phone {{input type="text" value=phone }}
  </p>
  <button>Submit</button>
</form>
{{/if}}

{{#each model as |contact|}}
<h2>{{contact.first}} {{contact.last}}</h2>
<p>
  {{contact.address}}
</p>
<p>
  {{contact.phone}}
</p>
  <button {{action "deletePerson" contact}}>DELETE</button>

{{/each}}
