<form {{action "addPerson" on="submit"}}>
  <p>
    First Name {{input type="text" value=first }}
  </p>
  <p>
    Last Name {{input type="text" value=last }}
  </p>
  <p>
    Address {{input type="text" value=address }}
  </p>
  <p>
    Phone {{input type="text" value=phone }}
  </p>
  <button>Submit</button>
</form>
